[submodule "Project/Demo_Empty_Project/Drivers/stm32c0xx-hal-driver"]
	path = Project/Demo_Empty_Project/Drivers/stm32c0xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32c0xx-hal-driver.git
[submodule "Project/Demo_CubeMX_Project/Drivers/stm32c0xx-hal-driver"]
	path = Project/Demo_CubeMX_Project/Drivers/stm32c0xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32c0xx-hal-driver.git
[submodule "Project/Demo_CubeMX_Project/Drivers/BSP/stm32c0xx-nucleo-bsp"]
	path = Project/Demo_CubeMX_Project/Drivers/BSP/stm32c0xx-nucleo-bsp
	url = https://github.com/STMicroelectronics/stm32c0xx-nucleo-bsp.git
